header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 95%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}
.item {
  font-weight: 400;
  padding: 5px;
}

.form-control {
  width: 200px;
}
